@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

[data-theme='auto'] {
  @import 'github-markdown-css/github-markdown.css';
  @media screen and (prefers-color-scheme: dark) {
    @import 'highlight.js/scss/github-dark.scss';
    --font-color: #c9d1d9;
    --theme-color: #202124;
    --theme-border-color: #3c4043;
    --dragbar-color: #3c4043;
  }
  @media screen and (prefers-color-scheme: light) {
    @import 'highlight.js/scss/github.scss';
    --font-color: #24292f;
    --theme-color: #eaecf0;
    --theme-border-color: #aeafb2;
    --dragbar-color: #dfe0e1;
  }
}

[data-theme='dark'] {
  @import 'highlight.js/scss/github-dark.scss';
  @import 'github-markdown-css/github-markdown-dark.css';

  --font-color: #c9d1d9;
  --theme-color: #202124;
  --theme-border-color: #3c4043;
  --dragbar-color: #3c4043;
}

[data-theme='light'] {
  @import 'highlight.js/scss/github.scss';
  @import 'github-markdown-css/github-markdown-light.css';

  --font-color: #24292f;
  --theme-color: #eaecf0;
  --theme-border-color: #aeafb2;
  --dragbar-color: #ccced0;
}

.chatgptbox-sidebar-free {
  margin-left: 60px;
}

.chatgptbox-container {
  width: 100%;
  flex-basis: 0;
  flex-grow: 1;
  margin-bottom: 20px;

  .chatgptbox-container * {
    font-family: 'Cairo', sans-serif;
  }
  .gpt-inner {
    border-radius: 8px;
    border: 1px solid;
    overflow: hidden;
    border-color: var(--theme-border-color);
    background-color: var(--theme-color);
    margin: 0;

    hr {
      height: 1px;
      background-color: var(--theme-border-color);
      border: none;
    }
  }

  .markdown-body {
    padding: 5px 15px 10px;
    background-color: var(--theme-color);
    color: var(--font-color);
    resize: vertical;
    overflow-y: auto;

    ul,
    ol {
      padding-left: 1.5em;
    }

    ol {
      list-style: none;
      counter-reset: item;

      li {
        counter-increment: item;

        &::marker {
          content: counter(item) '. ';
        }
      }
    }
  }

  .icon-and-text {
    color: var(--font-color);
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 6px;
  }

  .manual-btn {
    cursor: pointer;
  }

  .gpt-loading {
    color: var(--font-color);
    animation: chatgptbox-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .code-copy-btn {
    color: inherit;
    position: absolute;
    right: 10px;
    top: 3px;
    cursor: pointer;
  }

  :is(.answer, .question, .error) {
    font-size: 15px;
    line-height: 1.6;
    border-radius: 8px;
    word-break: break-word;
    font-family: 'Cairo', sans-serif;
    pre {
      margin-top: 10px;
    }

    & > p {
      margin-bottom: 10px;
    }

    code {
      white-space: pre-wrap;
      word-break: break-word;
      border-radius: 8px;

      .hljs {
        padding: 0;
      }
    }

    p {
      margin: 0;
    }
  }

  .gpt-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    color: var(--font-color);

    .gpt-header-items {
      display: flex;
      gap: 15px;
    }

    p {
      font-weight: bold;
    }

    .gpt-feedback {
      display: flex;
      gap: 6px;
      cursor: pointer;
    }

    .gpt-feedback-selected {
      color: #f08080;
    }

    .gpt-util-icon {
      cursor: pointer;
      margin: 5px 15px 0px;
      width: 16px;
      height: 16px;
    }

    .normal-button {
      border: 1px solid;
      border-color: var(--theme-border-color);
      background-color: var(--theme-color);
      color: var(--font-color);
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .error {
    color: #ec4336;
  }

  .interact-input {
    box-sizing: border-box;
    padding: 5px 15px;
    border: 0;
    border-top: 1px solid var(--theme-border-color);
    width: 100%;
    background-color: var(--theme-color);
    color: var(--font-color);
    resize: none;
    max-height: 240px;
  }

  .dragbar {
    cursor: move;
    width: 42%;
    height: 12px;
    border-radius: 10px;
    background-color: var(--dragbar-color);
  }
}

@keyframes chatgptbox-pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.chatgptbox-selection-toolbar {
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-left: 4px;
}

.chatgptbox-selection-toolbar-button {
  margin-left: 2px;
  padding: 4px;
  border-radius: 30px;
  background-color: #ffffff;
  color: #646464;
  box-sizing: content-box;
  cursor: pointer;
}

.chatgptbox-selection-toolbar-button:hover {
  background-color: #ddd;
}

.chatgptbox-selection-window {
  height: auto;
  border-radius: 8px;
  background-color: var(--theme-color);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
